<br><fieldset style="border-radius: 8px; background-color:#f0f0f0; margin-left:15px; margin-right:15px; font-size:14px;">
  <legend><b><span style="color:#000;">&nbsp;.: Lastheard :.&nbsp;</span></b></legend>
  <table style="width:100%; font: 10pt arial, sans-serif">
    <tr class="theme_color" style="height: 32px; font: 10pt arial, sans-serif;"><th>Date</th><th>Time</th><th>Callsign (DMR-Id)</th><th>Name</th><th>TG#</th><th>TG Name</th><th>TX (s)</th><th>System</th></tr>
  </table>
</fieldset><br>
