<fieldset class="hbmon-panel" style="background-color:#e0e0e0; font-size:14px; border-radius: 10px;">
  <legend><b><span style="color:#000;">&nbsp;.: OpenBridge status :.&nbsp;</span></b></legend>
  {% if _table['OPENBRIDGES']|length >0 %}
  <table class="hbmon-responsive-table" style="table-layout:fixed;width:100%; font: 10pt arial, sans-serif; margin-top:5px; margin-bottom:5px;">
    <tr class="theme_color" style="width:100%; font: 10pt arial, sans-serif;">
      <th style='width: 12%'>OpenBridge<br>Systems</th>
      <th style='width: 12%'>Network ID</th>
      <th style='width: 70%;'>Active QSOs</th>
    </tr>
    {% for _openbridge in _table['OPENBRIDGES'] %}
    <tr style="background-color:#f9f9f9;">
      <td data-label="OpenBridge" style="font-weight:bold; padding-left: 20px; text-align:left;"> {{ _openbridge}} </td>
      <td data-label="Network ID"><div style="font: 9pt arial, sans-serif;margin-top:3px;margin-bottom:3px;"><span class="hbmon-desktop-only">Net ID: </span><span style="font: 9pt arial, sans-serif;font-weight:bold;">{{ _table['OPENBRIDGES'][_openbridge]['NETWORK_ID'] }}</span></div></td>
      <td class="hbmon-qso-cell" data-label="Active QSOs" style="background-color:#f9f9f9; font: 9pt arial, sans-serif; font-weight: 600; color:#464646;">
        {% if _table['OPENBRIDGES'][_openbridge]['STREAMS']|length > 0 %}
        <div class="hbmon-qso-list">
          {% for entry in _table['OPENBRIDGES'][_openbridge]['STREAMS'] %}
          <span class="hbmon-qso-chip">
            <span class="hbmon-qso-dir" style="{{ 'color:#008000;' if _table['OPENBRIDGES'][_openbridge]['STREAMS'][entry][0] == 'RX' else 'color:red;' }}">{{ _table['OPENBRIDGES'][_openbridge]['STREAMS'][entry][0] }}</span><span class="hbmon-qso-sep">: </span>
            <span class="hbmon-qso-call" style="color:#0065ff;">{{ _table['OPENBRIDGES'][_openbridge]['STREAMS'][entry][1] }}</span>
            <span class="hbmon-qso-arrow">&nbsp;&gt;&gt;&nbsp;</span>
            <span class="hbmon-qso-tg" style="color:#b5651d;">TG&nbsp;{{ _table['OPENBRIDGES'][_openbridge]['STREAMS'][entry][2] }}</span>
          </span>
          {% endfor %}
        </div>
        {% else %}
        <span class="hbmon-qso-idle hbmon-mobile-only">Idle</span>
        {% endif %}
      </td>
    </tr>
    {% endfor %}
  </table>
  {% else %}
  <table style='width:100%; font: 13pt arial, sans-serif'>
    <tr style='border:none; background-color:#f9f9f9;'>
      <td style='border:none;height:60px; text-align:center;'><span style="color:brown;"><b>Waiting for data from Server ...  or not defined on Server</b></span></td>
    </tr>
  </table>
  {% endif %}
</fieldset>
